
body {
    background-color:  plum;
}
.style {
    align-items: center;
}

.grid {
    display: grid;
    /*untuk menjadikan gambar sejejajar*/
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20px;
    padding: 70px 0;
    align-items: center;
    grid-gap: 20px;
}

img {
    object-fit: cover;
    /*margin-top: 20px; Atur jarak dari atas */
    
}

.grid > article {
    box-shadow: 10px 5px 5px st;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    width: 300px;
    transition: transform;
}
.grid > article img {
    /** untuk bikin bordernya cembung*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}

.grid > article:hover {
    transform: scale(1.2);
    /**transform: rotate(10deg);
    transform: scale(0,5); zoom out*/ 
    /**transform:translate(50px);*/
}

@media (max-width:1000px){
    .grid{
        grid-template-columns: repeat(2,1fr);
        /**untuk merubah tampilan pada device*//
    }
}
@media (max-width:500px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}

